In [2]:
x_arr = array(1:9)
x_arr

[1] 1 2 3 4 5 6 7 8 9

In [3]:
x_arr_2 = array(1:9, c(3,3))
x_arr_2

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [7]:
x2 = 1:9
dim(x2) = c(3,3)
is.array(x2)

[1] TRUE

In [8]:
x2[,]

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [13]:
x2[1:2,]

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8

In [10]:
x2[,1]

[1] 1 2 3

In [12]:
help(array)

In [15]:
seq(1,10, by = 2)

[1] 1 3 5 7 9

In [18]:
rep(c(1,2,3),c(1,2))

ERROR: Error in rep(c(1, 2, 3), c(1, 2)): invalid 'times' argument

In [26]:
a = matrix(c(1,2,3,4,5,6,7,8,9), nrow = 3)
a

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [28]:
b = t(a)
b

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [29]:
a + b

     [,1] [,2] [,3]
[1,]  2    6   10
[2,]  6   10   14
[3,] 10   14   18

In [30]:
a * b

     [,1] [,2] [,3]
[1,]  1    8   21
[2,]  8   25   48
[3,] 21   48   81

In [31]:
a %*% b

     [,1] [,2] [,3]
[1,] 66    78   90
[2,] 78    93  108
[3,] 90   108  126

In [35]:
10 / 15

[1] 0.6666667

In [36]:
10 %/% 15

[1] 0

In [37]:
floor(0.667)

[1] 0

In [39]:
round(runif(10,1,50))

 [1] 38  3 20 14 49 41 42 24 43  9

In [40]:
st = "Hello this is aditya"

In [43]:
table(unlist(strsplit(st, " ")))

aditya  Hello     is   this
     1      1      1      1

In [44]:
help(matrix)

In [45]:
help(data.frame)

In [46]:
seq(1,10,2)

[1] 1 3 5 7 9

In [47]:
seq(length = 10, from = 1, by = 0.5)

 [1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0 5.5

In [48]:
a

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [51]:
for(x in seq(2,10,2)){
    print(x)
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

In [52]:
st = "Wada pav wada pav"

In [53]:
length(st)

[1] 1

In [54]:
nchar(st)

[1] 17

In [55]:
length(unlist(strsplit(st, " ")))

[1] 4

In [56]:
a

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [57]:
b

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [58]:
cbind(a,b)

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    4    7    1    2    3
[2,] 2    5    8    4    5    6
[3,] 3    6    9    7    8    9

In [59]:
rbind(a,b)

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9
[4,] 1    2    3
[5,] 4    5    6
[6,] 7    8    9

In [60]:
color = c("Blue", "Red")

In [63]:
paste(color, sep = " ", collapse = " ")

[1] "Blue Red"

In [64]:
range(c(1,2,3,4,5,6,7,8,9))

[1] 1 9

In [66]:
diff(range(c(1,2,3,4,5,6,7,8,9)))

[1] 8

In [67]:
ctn = c(43,12,29,63,11)

In [68]:
order(ctn)

[1] 5 2 3 1 4

In [69]:
sort(ctn)

[1] 11 12 29 43 63

In [71]:
help(substr)

In [76]:
mat = 1:5

In [77]:
sample(mat, 8)

ERROR: Error in sample.int(length(x), size, replace, prob): cannot take a sample larger than the population when 'replace = FALSE'

In [78]:
ls()

 [1] "a"       "b"       "color"   "ctn"     "mat"     "st"      "x"
 [8] "x_arr"   "x_arr_2" "x2"

In [81]:
utf8ToInt("a")

[1] 97

In [ ]:
plot